body
{
    background-color:azure;
    font-family: 'Poiret One', cursive;
    font-size: 3em;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

a:hover {
    color:maroon;
}

.price {
    color: red;
}

.content {
    text-align: center;
    margin: 2em;
}

.mention {
    font-size: 0.7em;
    position: fixed;
    margin: 1em;
    font-weight: 600;
    bottom: 0;
    right: 0;
}