html, body {
    height:100%;
    overflow: hidden;
}

body
{
    background-color:azure;
    font-family: 'Poiret One', cursive;
    font-size: 3em;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.recommendation {
    font-size: 0.2em;
}

a {
    text-decoration: none;
}

a:visited {
    color: red;
}

a:hover {
    color:maroon;
}

.price {
    color: red;
}

.content {
    text-align: center;
    margin-left: 2em;
    margin-right: 2em;
    overflow-y:scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    height: 90%;
}

.content::-webkit-scrollbar {
    display: none;
}

.chartContainer {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.mention {
    font-size: 0.5em;
    font-weight: 600;
    position:static;
    bottom: 0;
    text-align: right;
    padding: 0.5em;
}

.loss {
    color: red;
}

.win {
    color: #009900;
}